img{
  height: auto;
  width: 500px;
}

h3{
  font-family: "Apple Chancery", cursive ;
}

.ingredients{
  background-color: rgb(164, 166, 165, 0.4);
}

.steps{
  background-color: rgb(164, 166, 165, 0.4);
}
